@media screen and (max-width: 479px) {
  html {
    min-height: 100%;
  }

  body {
    margin: 0px;
    background: linear-gradient(#FFFFCC,#FFCC33);
  }

  h1 {
    text-align: center;
    font-size: 15px;
    color: black;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .wrap {
    overflow: hidden;
  }

  .header {
    position: fixed;
    z-index: 1;
    background: #FFFF99;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
  }

  .header img {
    float: left;
  }

  .header h1 {
    display: inline-block;
  }

  .Description{
    width: 100%;
    padding-top: 36px;
  }

  /*******************
    レストランリスト
  ********************/
  .Restaurant__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .Restaurant__Item {
    width: 50%;
  }

  .Restaurant__ItemImg {
    width: 100%;
  }

  .bottom {
    margin: 10px;
    text-align: center;
  }

  /**********************
  　フェードイン用CSS
  **********************/

  /* 画面外にいる状態 */
  .fadein {
  	opacity : 0;
  	transform : translate(0, 20px);
  	transition : all 500ms;
  	}

  /* 画面内に入った状態 */
  .fadein.scrollin {
  	opacity : 1;
  	transform : translate(0, 0);
  	}


  /*****************
    遷移先のページcss
  *******************/

  .sab_body {
    text-align: center;
  }

  .sub_bottom {
    margin: 20px;
    text-align: center;
  }

  .map {
    margin-right: 10%;
    border-style: solid;
  }

  .taberogu {
    margin-left: 10%;
    border-style: solid;
  }

}
